header{
    background-color: #4E12B2;
}

button{
    margin-left: 15px;
    margin-top: 20px;
}

.form-control{
    padding-right: 40px;
}

.form-group{
text-align: left;
}

.espacamento{
    margin: 0 30px;
}
.card{
    margin-bottom: 20px;
    margin-left: 15px;
}

.btn-cadastrar{
    background-color: #4E12B2;
    border: #4E12B2;
    margin-top: 5px;
}

.card{
    padding-bottom: 100px;
}
